@import '../../../scss/main.scss';

.Comment {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}


.Comment__author_nickname {
    font-weight: bold;
    color: $color-nickname;
}

.Comment__author_username {
    font-weight: bold;
    color: $color-username;
}

.Comment__content {
    margin-left: 10px;
    font-size: 14px;
    color: $color-comment;
}