@import "../../../scss/main.scss";

.Post__container {
    position: relative;
    width: 100%;
    min-height: 150px;
}

.Post__container__fold {
    position: relative;
    width: 100%;
    max-height: 500px;
    min-height: 200px;
    overflow: hidden;
}

.Post__unfold {
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    height: calc(100% - 60px);
}

.Post__unfold:hover .Post__unfold_gradation {
    // height: 100px;
    animation:Post__unfold_gradation_hover .3s ease-in both;
}

.Post__unfold:hover .Post__unfold_hint {
    animation:Post__unfold_hint_hover .5s ease-in both;
}

@keyframes Post__unfold_gradation_hover {
    0% {
        height: 100px;
        opacity: 1;
    }
    100% {
        height: 50px;
        opacity: 0.8;
    }
}

@keyframes Post__unfold_hint_hover {
    0% {
        opacity: 0;
        bottom: 20px;
        background-color: #ffffff00;
    }
    100% {
       opacity: 1;
       bottom: 5px;
       background-color: #ffffffff;
    }
}


.Post__unfold_gradation {
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    height: 100px;
    background: linear-gradient( to bottom, #ffffff00, #ffffffde );
}

.Post__unfold_hint {
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15px;
    font-size: $size-bigger;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    padding-top: 10px;
    padding-bottom: 10px;


    .Post__unfold_hind_text {
        font-size: $size-normal;
    }
}

.Post__title_container {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
}

.Post__title {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: $size-title;
    color: $color-title;
}
.Post__date {
    display: inline-block;
    font-size: $size-label;
    margin: 0;
    color: $color-text-light;
}

.Post__author {
    display: inline-block;
    font-size: $size-label;
    margin: 0;

    .Post__postby {
        font-style: italic;
        color: $color-label;
        margin-right: 5px;
    }

    .Post__nickname {
        color: $color-nickname;
        cursor: pointer;
        font-weight: bold;
    }

    .Post__username {
        color: $color-username;
        cursor: pointer;
        font-weight: bold;
    }
}

.Post__description {
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.Post__body {
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: $color-text !important;
    // margin-left: 20px;
}

.Post__body > p {
    font-size: $size-content !important;
    margin-bottom: 5px;
    margin-top: 5px;
}
.Post__body > h2 {
    font-size: $size-big !important;
}
.Post__body > h1 {
    font-size: $size-bigger !important;
}

.Post__buttons {
    display: flex;
    position: absolute;
    flex-direction: row;
    right: 0px;
    top: 0px;
    z-index: 1000;

    div {
        cursor: pointer;
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        margin-left: 10px;
        opacity: 0.2;
        &:hover {
            opacity: 1;
        }
    }

    .Post__deleteButton {
        color: $color-danger;
    }

    .Post__editButton {
        color: $color-secondary;
    }
}
