@import "../../../scss/main";

.header__header{
    display: flex;
    width: 100vw;
    height: 48px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    backdrop-filter: saturate(180%) blur(4px);
    -webkit-backdrop-filter: saturate(180%) blur(4px);
    box-shadow: 0px 1px 1px #00000010;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 180px;
    height: 48px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: $color-primary;
}
.header__icon {
    margin-left: 10px;
}

.header__button {   
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: $color-primary;
    font-weight: bold;
}

.header__userName {
    // color: $color-primary;
    cursor: pointer;
}

.header__userInfo {
    display: flex;
    align-items: center;
}

.header__userName_nickname {
    color: #464646;
    font-size: 17px;
}

.header__userName_username {
    color: #858585;
    font-size: 15px;
}

.header__loginForm {
    position: absolute;
    z-index: 100;
    top: 49px;
    right: 0;
}