.login_frame {
    z-index: 11;
    display: inline-block;
    width: 360px;
    height: 480px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px #00000050;
}

.login_background {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000089;
    backdrop-filter: saturate(180%) blur(8px);
    -webkit-backdrop-filter: saturate(180%) blur(8px);
    z-index: 10;
}

.login_title_container {
    height: 120px;
}

.login_title_text {
    display: flex;
    widows: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
}

.login_form_container {
    width: 240px;
    margin-left: 60px;
}

.login_button {
    width: 240px;
    margin-top: 30px;
}
.login_register_button {
    width: 240px;
    margin-top: 15px;
}