@import "../../../scss/main";

.editor__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 48px);
}

.editor__frame {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    height: 100%;
}

.editor__input_title_container {
    width: calc(100% - 40px);
    height: 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.editor__input_title {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 42px;
}

.editor__input_title:focus {
    outline: none;
}

.editor__editor {
    flex: 1;
    overflow: scroll;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.editor__buttons {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.postButton {
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: $color-primary;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.postButton:hover {
    background-color: $color-primary-dark;
}

.postButton__disabled {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: $color-primary-dark;
    opacity: 0.5;
}

.ql-editor {
    z-index: 999;
}

.ql-editor > p {
    font-size: 21px !important;
}
.ql-editor > h2 {
    font-size: 30px !important;
}
.ql-editor > h1 {
    font-size: 42px !important;
}

.ql-editor.ql-blank::before { 
    font-size: 21px !important; 
}

.ql-editor > ol {
    font-size: 21px !important;
}

.ql-editor > ul {
    font-size: 21px !important;
}

.ql-editor > blockquote {
    font-size: 21px !important;
}

.ql-editor > pre {
    font-size: 21px !important;
}

.editor__tools {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    
    .editor__tools_tool {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        flex-shrink: 0;
        background: none;
        outline: none;
        padding: 0;
        border: none;
        color: rgb(134, 142, 150);
        cursor: pointer;

        div {
            font-weight: bold;
            span {
                font-size: 1rem;
                font-weight: bolder;
            }
        }

        &:hover {
            background: rgb(228, 228, 228);
            color: rgb(51, 51, 51);
        }
    }
}