// $color-primary: #00d1b2;
$color-primary: #b37aff;
$color-primary-dark: #a866ff;
$color-primary-light: #d0acff;
$color-like: #ff7171;
$color-label: #7c7c7c;
$color-nickname: #5a5a5a;
$color-username: #a057ff;
$color-icon: #808080;
$color-text-light: #858585;
$color-text: #4A4A4A;
$color-comment: #4A4A4A;
$color-title: #333333;

//@import '../../../scss/main.scss';
