$size-comment: 14px;
$size-title: 32px;
$size-content: 16px;
$size-label: 15px;

$size-biggest: 48px;
$size-bigger: 32px;
$size-big: 24px;

$size-xlarge: 18px;
$size-large: 17px;
$size-normal: 16px;
$size-small: 15px;
$size-xsmall: 14px;