@import "../../../scss/main.scss";

.Post__bottomContainer {
    margin-top: 30px;
    // max-height: 112px;
    min-height: 32px;
}

.Post__bottomItems {
    display: flex;
    height: 32px;
    justify-content: space-between;
}

.Post__comment_container {
    margin-top: 10px;
    margin-left: 5px;
}

.Post__comment__line {
    // width: calc(100% + 66px);
    // margin-left: -36px;
    width: 100%;
    height: 1px;
    background-color: #c9c9c9;
    margin-top: 20px;
}